validators
sparqltransformer==1.6.10
pythonql3==0.9.61
pyaml==18.11.0
rdflib-jsonld==0.4.0
rdflib==4.2.2
requests>=2.20.0
simplejson==3.16.0
six==1.11.0
urllib3==1.24.3
webencodings==0.5.1
werkzeug>=0.15.3
PyLD==1.0.5
